/*fixing navbar to the top*/
#nav-bar {
  position: fixed;
  height: 80px;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  padding: 0 2em 0 2em;
  background-color: #00a087;
}

/*positioning logo*/
#nav-bar .logo {
  height: 80px;
  width: 80px;
  float: left;
}

/*designing title*/
#nav-bar .header {
  padding-left: 10px;
  line-height: 80px;
  font-size: 2em;
  color: #e8fdff;
}

/*controling div element that contains button(s)*/
#nav-bar div {
  position: fixed;
  top: 0;
  margin: 10px;
  right: 5%;
  height: 60px;
}

/*formatting individual button(s) in div*/
#nav-bar div button {
  font-size: 1.3em;
  color: #00a087;
  background-color: white;
  opacity: .5;
  height: 100%;
  top: 100%;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
}

/*controling design on hover state*/
#nav-bar div button:hover {
  opacity: 1;
  color: black;
}