/*controling new tweet box*/
.new-tweet {
  margin: 0 2em;
  padding: 10px;
  position: relative;
  border: 1px solid #C0C0C0;
  border-radius: 5px;
  background-color: #eee;
  display: none;
}

/*box title*/
.new-tweet > h2 {
  border-bottom: 1px solid #000;
  line-height: 1.2em;
  padding: 0px;
  margin-top: 0px;
}

.new-tweet form {
  position: relative;
}

.new-tweet form textarea {
  width: 100%;
  padding: 5px;
}

.new-tweet form input {
  left: 0px;
  bottom: 0px;
}

.new-tweet span {
  position: absolute;
  right: 0px;
  bottom: 0px;
}

/*empty submission error message*/
#error-nomsg {
  border: 1px solid orange;
  border-radius: 5px;
  margin: 10px 0;
  padding: 10px;
  background-color: orange;
  color: #eee;
  font-weight: bold;
  text-align: center;
}

/*oversized submission error message*/
#error-over140 {
  border: 1px solid red;
  border-radius: 5px;
  margin: 10px 0;
  padding: 10px;
  background-color: red;
  color: #eee;
  font-weight: bold;
  text-align: center;
}
